@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --link-color: #0151c4;
  --link-color-bold: #01398a;
  --shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.25);
  --section-pb-big: 10rem;
  --section-pb-mobile: 5rem;
}

* {
  font-family: "Ubuntu", sans-serif;
}

.blue {
  color: var(--link-color);
}

.pb-0 {
  padding-bottom: 0 !important;
}
.hidden {
  display: none;
}

.big-button {
  background-color: var(--link-color);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.big-button:hover {
  background-color: var(--link-color-bold);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pb-5 {
  padding-bottom: 5rem;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 4%;
  padding: 10px 0;
}

header img {
  width: 100%;
}

.header-logo-image-wrapper {
  max-width: 200px;
}

header nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  padding: 10px 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--link-color);
  padding-bottom: 5px;
  margin: 0 20px;
  font-weight: bold;
}

header nav ul li a:visited {
  color: var(--link-color);
}

.current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--link-color-bold);
  display: block;
  bottom: 10%;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.logo-wrapper svg {
  width: 40px;
  height: 40px;
}

.header-image-section-wrapper {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4%;
}

.header-text-wrapper {
  flex: 1;
  padding-bottom: 5rem;
}

.header-text-wrapper h1 {
  font-size: 2.25rem;
  line-height: 3rem;
}

.header-text-wrapper p {
  padding: 10px 0;
  text-align: justify;
  line-height: 170%;
  font-size: 1.2rem;
}

.header-img-wrapper {
  flex: 1;
}

.header-img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 6%;
  }

  .logo-wrapper {
    padding: 0;
  }

  header nav ul {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  header nav ul li {
    padding: 0;
    font-size: 12px;
    margin-right: 2px;
  }

  header nav ul li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 10%;
  }

  header nav ul li:hover::after {
    width: 100%;
    height: 2px;
    background-color: var(--link-color-bold);
  }

  header nav ul li a:hover {
    transition: color 10ms ease-in;
    color: var(--link-color-bold);
  }
  .header-logo-image-wrapper {
    max-width: 200px;
  }

  .logo-wrapper svg {
    display: none;
  }

  .header-image-section-wrapper {
    padding: 10rem 0 15rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10%;
  }

  .header-text-wrapper {
    flex: 1;
    padding: 0 10% 0 0;
  }

  .header-text-wrapper h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 0 10%;
  }
  header nav ul li {
    font-size: 16px;
    margin-right: 10px;
  }

  .header-logo-image-wrapper {
    max-width: 300px;
  }

  .header-text-wrapper h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.line {
  background-color: #8080803b;
  height: 2px;
  width: 100%;
}

main {
  padding-top: 10rem;
  margin: 0 4%;
}

main h1 {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 2.25rem;
  line-height: 4rem;
  color: var(--link-color);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 2%;
  margin: 4% 0;
  text-align: center;
  flex: 1;
  -webkit-box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.25);
}

.service-wrapper svg {
  width: 2rem;
  height: 2rem;
  margin: auto;
  color: var(--link-color);
}

.service-wrapper p {
  padding-bottom: 1.25rem;
  line-height: 1.5rem;
}

.service-wrapper a {
  text-decoration: none;
  background-color: var(--link-color);
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
}

.service-wrapper a:hover {
  background-color: var(--link-color-bold);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.numbers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  text-align: center;
}

.numbers-wrapper h2 {
  font-size: 2rem;
}

.interested-section-wrapper {
  text-align: center;
  padding-bottom: 10rem;
}

.interested-section-wrapper h1 {
  font-size: 1.75rem;
  line-height: 5rem;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 5rem;
    margin: 0 6%;
  }

  main h1 {
    padding-bottom: 5rem;
    font-size: 3rem;
  }

  .services-wrapper {
    flex-direction: row;
    padding-bottom: 10rem;
  }

  .service-wrapper {
    padding: 30px 2%;
    margin: 0 2%;
  }

  .numbers-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
    text-align: left;
  }

  .interested-section-wrapper h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    margin: 0 10%;
  }
}

footer {
  padding: 5rem 4% 2rem 4%;
  background-color: var(--link-color);
  color: white;
  text-align: center;
}

.footer-content-wrapper {
  display: flex;
  margin: 0 4%;
  flex-direction: column;
}

.socials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
}

.socials-wrapper a {
  margin: 0 20px;
}

.socials-wrapper a img {
  width: 40px;
  height: 40px;
}
.registration {
  line-height: 2rem;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 10rem 0 2rem 0;
  }

  .footer-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6%;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-content-wrapper {
    margin: 0 10%;
  }
}

/*contact.html*/

.contact-label-wrapper {
  background-color: var(--link-color);
  padding: 5%;
}

.header-img-wrapper iframe {
  width: 100%;
  height: 400px;
  box-shadow: var(--shadow);
}

.contact-form-wrapper {
  padding-bottom: var(--section-pb-mobile);
}

.contact-form-wrapper h1 {
  padding-bottom: 2rem;
  text-align: center;
}

.contact-form-wrapper h2 {
  text-align: center;
}

.contact-form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.contact-form-wrapper form input[type="text"],
.contact-form-wrapper form input[type="email"] {
  padding: 20px;
  border-radius: 13px;
  border: 2px solid var(--link-color-bold);
  margin: 2% 2%;
  box-shadow: var(--shadow);
}

.contact-form-wrapper form textarea {
  border-radius: 13px;
  border: 2px solid var(--link-color-bold);
  padding: 20px;
  margin: 0 2%;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.checkbox-wrapper {
  padding: 20px 0;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-wrapper label {
  font-size: 1.25rem;
  margin-left: 15px;
}

.checkbox-wrapper input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.contact-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 2%;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--section-pb-mobile);
}

.contacts-wrapper > div {
  margin: 0 6%;
}

.contacts-wrapper > div > h2 {
  text-align: center;
  color: var(--link-color);
}

.company-ids-wrapper {
  display: flex;
  flex-direction: row;
}

.company-ids-wrapper p:nth-child(2) {
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .contact-form-wrapper form input[type="text"],
  .contact-form-wrapper form input[type="email"] {
    width: 100%;
  }

  .inputs-wrapper {
    flex-direction: row;
  }

  .contacts-wrapper {
    flex-direction: row;
    padding-bottom: var(--section-pb-big);
    align-items: baseline;
  }

  .contact-form-wrapper {
    padding-bottom: var(--section-pb-big);
  }

  .contacts-wrapper > div {
    margin: 0 10%;
    font-size: 1.25rem;
  }

  .contacts-wrapper > div {
    margin: 0 10%;
  }
}

/*What we do*/

.detailed-services-wrapper {
  padding-bottom: var(--section-pb-mobile);
}

.detailed-service-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.detailed-service-text-wrapper {
  flex: 1;
}

.detailed-service-text-wrapper h2 {
  color: var(--link-color);
}

.detailed-service-text-wrapper p {
  text-align: justify;
  line-height: 1.75rem;
}

.detailed-service-text-wrapper ul li {
  padding: 5px 0;
}

.detailed-service-image-wrapper {
  max-width: 500px;
  flex: 2;
  margin: 20px auto;
}

.detailed-service-image-wrapper img {
  width: 100%;
}

.price-table-wrapper {
  padding-bottom: var(--section-pb-big);
}

.price-table-wrapper table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #8080802a;
}

.price-table-wrapper table th {
  background-color: var(--link-color);
  color: white;
  padding: 10px 0;
}

.price-table-wrapper td {
  padding: 15px 10px;
  border: 1px solid #8080802a;
}

.technologies-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--section-pb-mobile);
}

.technology-wrapper {
  flex: 1;
  padding: 0 40px;
}

.technology-wrapper p {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.technology-image-wrapper {
  max-width: 250px;
  height: 200px;
  margin: auto;
}

.technology-image-wrapper img {
  width: 100%;
  height: 250px;
}

@media only screen and (min-width: 768px) {
  .detailed-services-wrapper {
    padding-bottom: var(--section-pb-big);
  }

  .technologies-wrapper {
    flex-direction: row;
    padding-bottom: var(--section-pb-big);
  }

  .technology-image-wrapper {
    max-width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .detailed-service-wrapper {
    flex-direction: row;
  }

  .detailed-service-wrapper > div {
    margin: 0 4%;
  }

  .order-2 {
    order: 2;
  }
}

/*About*/

.our-story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-story-text-wrapper {
  margin: 0 2%;
  flex: 1;
}

.our-story-text-wrapper p {
  text-align: justify;
  line-height: 1.5rem;
}

.our-story-image-wrapper {
  margin: 0 2%;
  flex: 1;
}

.our-story-image-wrapper img {
  width: 100%;
}

.lead-image-wrapper {
  max-width: 300px;
  margin: auto;
}

.lead-image-wrapper img {
  border-radius: 50%;
  width: 100%;
  margin: auto;
}

.leaders-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--section-pb-mobile);
}

.leader-wrapper {
  flex: 1;
  margin: 2% 0;
}

@media only screen and (min-width: 768px) {
  .our-story-wrapper {
    flex-direction: row;
  }

  .leaders-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--section-pb-big);
  }
}

.leader-wrapper h2 {
  text-align: center;
}
/*References*/

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: var(--section-pb-mobile);
}

.gallery-image-wrapper {
  max-width: 300px;
  margin: 2% 4%;
  flex: 1 1 320px;
}

.gallery-image-wrapper img {
  width: 100%;
}

.gallery-image-wrapper a {
  text-decoration: none;
  color: var(--link-color);
}

.gallery-image-wrapper a p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .gallery-wrapper {
  justify-content: space-between;
  padding-bottom: var(--section-pb-big);
}

}