@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
    --link-color: #0151C4;
    --link-color-bold: #01398A;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.blue {
    color: var(--link-color);
}

.big-button {
     background-color: var(--link-color);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.big-button:hover {
    background-color: var(--link-color-bold);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 4%;
    padding: 10px 0;
   
}

header img {
 width: 100%;
}

.header-logo-image-wrapper  {
       max-width: 200px;
    }

header nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

header nav ul li {
    list-style-type: none;
    display: block;
    height: 100%;
    margin-right: 30px;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    padding: 10px 0;
}



header nav ul li a {
    text-decoration: none;
    color: var(--link-color);
    padding-bottom: 5px;
    margin: 0 20px;
    font-weight: bold;
}



.current-page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--link-color-bold);
    display: block;
    bottom: 10%;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.logo-wrapper svg {
    width: 40px;
    height: 40px;
   
}

.header-image-section-wrapper {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4%;
}

.header-text-wrapper {
    flex: 1;
    padding-bottom: 5rem;
}

.header-text-wrapper h1 {
    font-size: 2.25rem;
    line-height: 3rem;
}

.header-text-wrapper p {
    padding: 10px 0;
    text-align: justify;
    line-height: 170%;
    font-size: 1.2rem;
}


.header-img-wrapper {
    flex: 1;
}

.header-img {
    width: 100%;
}

@media only screen and (min-width:768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
        margin: 0 6%;
    }

    .logo-wrapper {
        padding: 0;
    }

    header nav ul {
        flex-direction: row;
        width: 100%;
        margin: 0;
    }

    header nav ul li {
        padding: 0;
        font-size: 12px;
         margin-right: 2px;
    }

    header nav ul li::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        display: block;
        transition: all 0.3s ease;
        bottom: 10%;
    }

    header nav ul li:hover::after {
        width: 100%;
        height: 2px;
        background-color: var(--link-color-bold);
    }

    header nav ul li a:hover {
        transition: color 10ms ease-in;
        color: var(--link-color-bold);
    }
    .header-logo-image-wrapper  {
       max-width: 200px;
    }

    .logo-wrapper svg {
        display: none;
    }

    .header-image-section-wrapper {
        padding: 20rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 10%;
    }

    .header-text-wrapper {
        flex: 1;
        padding: 0 10% 0 0;
    }

    .header-text-wrapper h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width:1024px){
    header {
        margin: 0 10%;
    }
     header nav ul li {
        font-size: 16px;
        margin-right: 10px;
    }

     .header-logo-image-wrapper  {
       max-width: 300px;
    }
}

.line {
    background-color: #8080803b;
    height: 2px;
    width: 100%;
}

main {
    padding-top: 10rem;
    margin: 0 4%;
}

main h1 {
    text-align: center;
    padding-bottom: 5rem;
    font-size: 2.25rem;
    line-height: 4rem;
    color: var(--link-color)
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.service-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 2%;
    margin: 4% 0;
    text-align: center;
    flex: 1;
    -webkit-box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.25);
}

.service-wrapper svg {
    width: 2rem;
    height: 2rem;
    margin: auto;
    color: var(--link-color);
}

.service-wrapper p {
    padding-bottom: 1.25rem;
    line-height: 1.5rem;
}

.service-wrapper a {
    text-decoration: none;
    background-color: var(--link-color);
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
}

.service-wrapper a:hover {
    background-color: var(--link-color-bold);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.numbers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    text-align: center;
}

.numbers-wrapper h2 {
    font-size: 2rem;
}

.interested-section-wrapper {
    text-align: center;
    padding-bottom: 10rem;
}

.interested-section-wrapper h1 {
    font-size: 1.75rem;
    line-height: 5rem;
}

@media screen and (min-width:768px) {
    main {
        padding-top: 5rem;
        margin: 0 6%;
    }

    main h1 {
        padding-bottom: 5rem;
        font-size: 3rem;
    }

    .services-wrapper {
        flex-direction: row;
        padding-bottom: 10rem;
    }

    .service-wrapper {
        padding: 30px 2%;
        margin: 0 2%;
    }

    .numbers-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10rem;
        text-align: left;
    }

    .interested-section-wrapper h1 {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

@media only screen and (min-width:1024px){
      main {
        margin: 0 10%;
    }
}

footer {
    padding: 5rem 4% 2rem 4%;
    background-color: var(--link-color);
    color: white;
    text-align: center;
}

.footer-content-wrapper {
    display: flex;
    margin: 0 4%;
    flex-direction: column;
}

.socials-wrapper {
    display: flex;
    flex-direction: row;
   justify-content: center;
   padding-bottom: 2rem;
}

.socials-wrapper a {
    margin: 0 20px;
}

.socials-wrapper a img {
    width: 40px;
    height: 40px;
}
.registration {
    line-height: 2rem;
}

@media only screen and (min-width:768px)  {
    footer {
        padding: 10rem 0 2rem 0;
    }

    .footer-content-wrapper {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 6%;
    }
}

@media only screen and (min-width:1024px) {
      .footer-content-wrapper {
        margin: 0 10%;
    }
}

/*contact.html*/

.contact-label-wrapper {
    background-color: var(--link-color);
    padding: 5% ;
}